<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="header::header"></div>

<main>
    <div class="container mt-5 mb-5 col-lg-6 col-md-8 mx-auto">
        <h1>добавить арест</h1>
        <form action="/arrest/add" method="post">
            <p>Госорган</p>
            <input type="number" name="organ_code" placeholder="госорган" class="form-control"><br>
            <p>Номер документа</p>
            <input type="text" name="doc_num" placeholder="номер документа" class="form-control"><br>
            <p>Основание</p>
            <textarea type="text" name="purpose" placeholder="основание" class="form-control"></textarea><br>
            <p>Сумма</p>
            <input type="number" name="amount" placeholder="сумма ареста" class="form-control"><br>
            <p>Ссылка</p>
            <input type="text" name="ref_doc_num" placeholder="ссылка" class="form-control"><br>
            <p>Статус</p>
            <input type="number" name="operation" placeholder="статус" class="form-control"><br>
            <button type="submit" class="button-success">добавить</button>
        </form>
    </div>
</main>
<div th:insert="footer::footer"></div>
</body>
</html>