<div ph:fragment="header">
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="btn btn-outline-secondary ml-2 mr-2 my-2 me-5">Система ведения арестов</a></li>
                <li class="nav-item"><a href="/" class="btn btn-outline-primary ml-2 mr-2 my-2 me-4">Клиенты</a></li>
                <li class="nav-item"><a href="/arrest" class="btn btn-outline-secondary ml-2 mr-2 my-2 me-5">Аресты</a></li>
            </ul>
        </header>
    </div>
</div>